<!DOCTYPE HTML>
<html>
	<head>
		<title>Admin Page</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../css/styles.css">
		<script src = "../js/functions.js"></script>
		<script src = "../js/updateScripts.js"></script>
		<script>
			$(document).ready(function() {
				var collection = <%- JSON.stringify(collection) %>
				$("#"+collection).addClass("selected");
				console.log(<%- JSON.stringify(data) %>);
			});
		</script>
	</head>

	<body>
		<header>
			<a href = '/sororities' id = 'sororities'>Sororities</a>
			<a href = '/calendar' id = 'calendar'>Calendar</a>
			<a href = '/info' id = 'info'>Information</a>
			<a href = '/contactInfo' id = 'contactInfo'>Contact</a>
		</header>

		<div id = "container">
			<select>
				<% for (var k in data) { %>
					<option value = '<%=data[k]._id%>'><%=data[k].name%></option>
				<% } %>
			</select>
			<input type = 'button' value = '+' id = 'add-attr'/>
			<input type = 'button' value = 'Save' id = 'save'/>
			<% for (var k in data) { %>
				<ul class = <% if (k > 0) { %> 'hidden' <% } else { %> 'selected-data' <% } %> id = '<%=data[k]._id%>' >

					<% for (var j in data[k]) { %>

						<li <% if (j == '_id') { %> class = 'hidden' <% } %> >

						<!-- Setting the name of the attribute -->
							<% if (j == 'name' || j == 'description' || j == 'letters' || j == 'color' || j == 'crestImg' || j == 'coordinates' || j == 'address' ||
								j == 'date' || j == 'meeting_info' || j == 'full_time' || j == 'attire' ) { %>

								<label name = 'attributeName' value = '<%=j%>'><%=j%></label>

							<% } else if (j == 'rounds') { %>

								<label name = 'attributeName' value = '<%=j%>' class = 'round-li'><%=j%></label>

							<%} else { %>

								<input type = 'text' name = 'attributeName' value = '<%=j%>'>
							
							<% } %>


						<!-- Setting the value of the attribute -->

							<% if (j == 'description') { %>
								<textarea class = '<%=j%>'><%=data[k][j]%></textarea>

							<% } else if (j == 'rounds') { %>
								
								<% for (var z in data[k][j]) { %>
									<li class = 'round'>
										<input type = 'text' name = 'Event' value = '<%=data[k][j][z].Event%>'/>
										<input type = 'text' name = 'Time' value = '<%=data[k][j][z].Time%>'/>
										<input type = 'text' name = 'House' value = '<%=data[k][j][z].House%>'/>
										<span class = 'remove clickable'>[-]</span>
									</li>
								<% } %>

							<% } else { %>

								<% if (data[k][j].length < 40) { %>
									<input type = 'text' class = '<%=j%>' name = 'attributeValue' value = '<%=data[k][j]%>'/> 
								<% } else { %> 
									<br/><textarea class = '<%=j%>' name = 'attributeValue'><%=data[k][j]%></textarea>
								<% } %>
								<% if (j != 'name' && j != 'rounds' && j != 'description') { %>
									<span class = 'remove clickable'>[-]</span>

								<% } %>
							
							<% } %>

						</li>

					<% } %>

				</ul>
			<% } %>
		</div>
		<span id = 'add-sorority'>[+]</span>
	</body>
</html>